html {
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #263238;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

button {
    text-transform: uppercase;
}

input, button, #output {
    font-size: 100px;
    color: gold;
    text-align: center;
    background-color: #263238;
    width: 900px;
    border: 1px solid gold;
    box-sizing: border-box;
    margin: 20px;
    padding: 10px;
}

button {
    cursor: pointer;
}

input::placeholder {
    color: gold;
    opacity: 35%;
}